

hostname {{ item.hostname }}
!
vlan {{ vlan.data_vlan }}
 name {{ vlan.data_vl_name }}
!
vlan {{ vlan.voice_vlan }}
 name {{ vlan.voice_vl_name }}
!
vlan 995
 name Management
!
!
interface range GigabitEthernet1/0/1 - 48
 switchport access vlan {{ vlan.data_vlan }}
 switchport mode access
 {% if vlan.voice_vlan is not none -%}
 switchport voice vlan  {{ vlan.voice_vlan }}
 {% endif -%}
 switchport port-security maximum 50
 switchport port-security
 switchport port-security violation protect	
 no ip address
 auto qos voip cisco-phone 
 spanning-tree portfast
!
!
interface range TenGigabitEthernet1/1/1 - 2
 switchport trunk native vlan {{ item.native }}
 switchport trunk allowed vlan {{ vlan.data_vlan }},995
 switchport trunk allowed vlan {{ vlan.data_vlan }},{{vlan.voice_vlan}},995
 switchport mode trunk
 switchport nonegotiate
 auto qos voip trust 
!
!
interface Vlan995
 ip address {{item.ipaddress}} 255.255.252.0
!
access-list 22 permit 128.40.19.0 0.0.0.255
access-list 22 permit 172.17.{{ item.ipaddress | regex_replace ('(\d+).(\d+).(\d+).(\d+)','\\3') }}.0 0.0.3.255
access-list 22 permit 10.28.50.0 0.0.0.255
access-list 22 permit 10.36.50.0 0.0.0.255

snmp-server location {{item.snmp}}

